<!DOCTYPE html>
<html>

<head>
  {{template "head"}}
  <title>Imprint, Privacy Statement</title>
</head>

<body>

  {{template "navigation"}}
  
  <main>
    <h4>Impressum</h4>
    <pre>
Philipp Bartsch, freiberuflicher Softwareentwickler
Dunckerstr.46
10439 - Berlin
Germany

Umsatzsteuer-Identifikationsnummer nach §27a Umsatzsteuergesetz: DE251299935

E-Mail: <a href="mailto://philipp.bartsch@protonmail.com">philipp.bartsch@protonmail.com</a>
Fon: +49 1514 2853342
      </pre>

      <h4>Privacy Statement</h4>
      <p>
        This site does not collect any user data, there is no cookie, no tracking in place. I do not know who visits this page and I do not keep track of anything.
        If you happen to send me an e-mail, I'll delete your message(s) after 3 months.
      </p>
      <p>
        Hosting of this site is currently provided by a company called <a href="https://www.netlify.com">Netlify</a>, please check <a href="https://www.netlify.com/privacy/">Netlify's Privacy Statement</a> for additional info regarding data Netlify might collect as well as GDPR related information.
      </p>
  </main>

  {{template "footer"}}

</body>
</html>